*.pyc
.*.swp
.bash_history
coverage/
deployment-*
**/LagoInitFile
logs*
test_logs/
mocker-*
*.egg-info
*-venv
#IDE files
##########
.settings
.project
.factorypath
.externalToolBuilders
.pmd
*.ipr
*.iml
.idea
.pydevproject
.tox

# Ansible files
###############
*.retry
failure_msg.txt
**/ovirt-deploy/library

# ost-images files
###############
ost-images/*.iso
ost-images/*.ks
ost-images/*.qcow2
ost-images/*.qcow2.tmp
ost-images/*.spec
ost-images/*.tar.gz
ost-images/*-pkglist*.txt
ost-images/*-provision-*.sh
ost-images/COPYING
ost-images/INSTALL
ost-images/Makefile
ost-images/Makefile.in
ost-images/aclocal.m4
ost-images/autom4te.cache/
ost-images/build-aux/*
!ost-images/build-aux/pkg-version
ost-images/config.log
ost-images/config.status
ost-images/configure
ost-images/install-sh
ost-images/missing
