# PIP requirements for OST
nose
-e ost_utils
pylint==2.7.2
pytest==6.2.2
selenium
tox
# network suite deps
flake8
openstacksdk
contextlib2
# there's a conflict between rpm and pip versions on regular el8 hosts
requests
