Port 2222
PermitRootLogin no
PubkeyAuthentication yes
AuthenticationMethods=publickey
AuthorizedPrincipalsFile none
HostbasedAuthentication no
IgnoreRhosts yes
PasswordAuthentication no
PermitEmptyPasswords no
KbdInteractiveAuthentication yes
KerberosAuthentication no
GSSAPIAuthentication no
AllowAgentForwarding no
AllowTcpForwarding yes
GatewayPorts no
X11Forwarding no
PermitUserEnvironment no
PermitTTY no
UseDNS no
ForceCommand /bin/false
